
    <h1 class="text-center">Projects<br><small class="subtitle">Github Repos</small></h1>
    <% @results.each do |repo| %>
      <%= link_to repo["name"], "https://github.com/azinder1/" + repo["name"] %>
      <hr>
    <% end %>
