<%= content_for :landingindex do %>
<div class="blurred-container">
  <div class="img-src"> </div>
</div>
<% end %>

<% @results.each do |repo| %>
<%= link_to repo["name"], "https://github.com/azinder1/" + repo["name"] %>
<hr>
<% end %>
