
<div class="main" id="about-page">
  <div class="container tim-container" style="max-width:800px; padding-top:100px">
    <h1 class="text-center">About Me<br><small class="subtitle">JavaScript and Ruby on Rails</small></h1>
    <p>Coding first piqued my interest through a very primary wanting -- old issues needed new solutions.  I remember sitting in on a lecture where a graduate student designed a program that would count dots (cell colonies) on plates and their different hues via a simple photograph. This experience, while seemingly small opened my eyes that a snippet of code and out-of-the-box thinking could save literally hours of monotonous work</p>
    <p>As a coder I strive to apply this same methodology within my coding practice.  To push the bounds of what I'm comfortable with and try new solutions to old problems. My curriculum focuses on Ruby on Rails and JavaScript, but I'm eager to push my knowlede and learn a broad array of stacks to better fortify my understanding of web development</p>

  </div>
  <div class="space"></div>
  <!-- end container -->
</div>
