@import "bootstrap-sprockets";
@import "bootstrap";
@import "gsdk";
@import 'login-register';


.img-src {
  background-image: asset-url('lake.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.landing_title {
  top: 50%;
  left: 50%;
}
.landing_button {
  position: absolute;
  top: 50%;
  left: 43%;
  font-size: 45px;
  background-color: #e6e6fa;
  border-color: #e6e6fa ;
}

.nav-bar {
  display:none
}
// #about-page {
//   transform: translate(0%, 50%) matrix(1, 0, 0, 1, 0, 0);
// }

#about-page {
  margin-bottom: 80px;
}
